
body {
  width: 800px;
  /* height: 1000px;
  width: 800px; */
  margin: 0 auto;
  /* overflow: hidden; */
}

main {
  border: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  /* background-color: */
  background-color: #F5F4F6;
}

h1 {
  /* text-align: center; */
  text-transform: uppercase;
  /* width: 40%; */
  font-family: 'Bubblegum Sans', 'Ubuntu';
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  height: 50px;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  width: 180px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Lato';
  font-weight: bold;
}

nav button {
  margin-right: 20px;
  color: white;
  background-color: black;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  /* height: 100vh; */
  background-color: white;
  font-family: 'Bubblegum Sans';
  overflow: hidden;
}

.welcome-screen button {
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Lato';
  color: white;
  background-color: black;
  width: 200px;
}

.screen-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

.screen {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  background-color: white;
}

.statistics {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  height: 100px;
}

.timer {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  background-color: white;
}

.scoreboard {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  background-color: white;
}

.health {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  background-color: white;
}

.color-buttons-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 400px;
}

.color-buttons-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.color-buttons-container ul li button {
  margin: 20px 0;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.instructions {
  display: none;
}

.instructions.showing {
  display: block;
}

button:active {
  color: inherit;
}

.welcome-screen button:active {
  color: black;
  background-color: white;
  border: 2px solid black;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

@media only screen and (max-width: 700px) {
  body {
    max-height: 700px;
    /* height: 500px; */
    width: 100%;
    /* overflow: hidden; */ */
  }

  main {
    margin: 0 auto;
    width: 280px;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
  }

  nav {
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-around;
  }

  button {
    width: 120px;
    height: 30px;
    font-size: 20px;
  }

  nav button {
    margin: 0;
  }

  .instructions.showing {
    font-size: 14px;
    margin: 0 auto;
    width: 220px;
  }

  .screen-container {
    height: 150px;
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .screen {
    height: 80px;
    width: 80%;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: bold;
  }

  .statistics {
    margin-top: 10px;
    height: 70px;
    width: 95%;
    font-size: 12px;
  }

  .timer {
    height: 50px;
    padding: 2px;
  }

  .scoreboard {
    height: 50px;
    padding: 2px;
  }

  .score-display {
    font-size: 10px;
  }

  .health {
    height: 50px;
    padding: 2px;
  }

  .color-buttons-container {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .color-buttons-container ul li button {
    margin: 5px 0;
  }

}
