
main {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  height: 50px;
}

button {
  border-radius: 5px;
  height: 30px;
  width: 180px;
}

nav button {
  margin-right: 20px;
}

.screen-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}

.screen {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 200px;
}

.full-screen-wrapper {
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
}

.color-buttons-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 400px;
}

.color-buttons-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.color-buttons-container ul li button {
  margin: 20px 0;
}

@media only screen and (max-width: 700px) {
  body {
    width: 100%;
  }

  main {
    margin: 0 auto;
    width: 280px;
  }

  nav {
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-around;
  }

  button {
    width: 120px;
    height: 30px;
  }

  nav button {
    margin: 0;
  }

  .full-screen-wrapper {
    width: 280px;
  }

  .screen-container {
    height: 200px;
    width: 95%;
    margin-top: 10px;
  }

  .screen {
    width: 80%;
  }

  .color-buttons-container {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .color-buttons-container ul li button {
    margin: 5px 0;
  }

}
